@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLBT5Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

input {
  caret-color: red;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #ecf0f3;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  overflow: hidden;
  font-family: poppins;
  min-width: 320px;
}

.container {
  position: relative;
  width: 360px;
  height: 490px;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.brand-logo {
  height: 70px;
  width: 70px;
  background: url("twitter--v2.png") center/cover no-repeat;
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}

.brand-title {
  margin-top: 10px;
  font-weight: 900;
  font-size: 1.8rem;
  color: #1DA1F2;
  letter-spacing: 1px;
}

.inputs {
  text-align: left;
  margin-top: 30px;
}

label,
input,
button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

label {
  margin-bottom: 4px;
}

label:nth-of-type(2) {
  margin-top: 12px;
}

input::placeholder {
  color: gray;
}

input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

button {
  color: white;
  margin-top: 20px;
  background: #1DA1F2;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}

button:hover {
  box-shadow: none;
}

a {
  position: absolute;
  font-size: 8px;
  bottom: 4px;
  right: 4px;
  text-decoration: none;
  color: black;
  background: rgb(247, 201, 51);
  border-radius: 10px;
  padding: 2px;
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
}

.heart {
  cursor: pointer;
  height: 70px;
  width: 70px;
  background-image: url('images/web_heart_animation.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 2900%;
}

.heart:hover {
  background-position: right;
}

.is_animating {
  animation: heart-burst .8s steps(28) 1;
}

@keyframes heart-burst {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}

.blink {
  width: 200px;
  height: 19px;
  background-color: rgba(249, 254, 255, 0.014);
  padding: 5px;
  text-align: center;
  margin-top: 10px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 400;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 1s;
  font-family: cursive;
  animation: blink 2s linear infinite;
  color: #ec7fa9de;
}

@keyframes blink {
  0% {
    opacity: .8;
  }
  50% {
    opacity: .9;
  }
  100% {
    opacity: 1;
  }
}

#progress-bar {
  width: 100%;
  color: #000;
  height: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

span2 {
  margin-top: 40px;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background: #ec7fa9de;
  position: absolute;
  left: 0;
  top: -2px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.first {
  left: -2px;
  color: #ec7fa9de;
}

.second {
  left: 952px;
}

.percent {
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  white-space: nowrap;
  -webkit-animation: rightThenLeft 4s linear;
}

.percent_circle {
  top: -13px;
  font-size: 3em;
  width: 0.3em;
  height: 0.3em;
  border: 0.1em solid #ec7fa9de;
  position: relative;
  border-radius: 0.35em;
}

@-webkit-keyframes rightThenLeft {
  from { left:0px; }
  to { left:200px; }
}

#talkbubble {
  color: #fff;
  font-weight: lighter;
  font-family: Arial;
  font-size: 14px;
  padding: 6px;
  width: 115px;
  height: 30px;
  background: #ec7fa9de;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

#talkbubble:before {
  content: "";
  position: absolute;
  right: 40%;
  top: 30px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #ec7fa9de;
}

#progress-bar::-webkit-progress-value {
  background: #ec7fa9de;
  transition: all 0.4s ease-in-out;
}

#progress-bar::-webkit-progress-bar {
  background: #1DA1F2;
}